<!DOCTYPE html>
{% load static %}
<html lang="en" style="background-color: #EDDCD2">
    <head>
        <title>Welcome!</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/bootstrap/css/bootstrap.min.css' %}">
        <script src="stylesheet" href="{% static 'css/bootstrap/js/bootstrap.min.js' %}"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <link rel="stylesheet" type="text/css" href="{% static 'css/mystyle.css' %}">
    </head>

    <body>
        <nav class="navbar navbar-expand-md navbar-light fixed-top justifiy-content-end"
        style="background: rgba(240, 227, 219, 0.65);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: Averia Regular;
        font-size: 22px;">
        <div class="container-fluid">
            <button type="button" class="navbar-toggler navbar-nav ml-auto" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-right" id="navbarCollapse">
                <div class="navbar-nav ml-auto">
                    <a href="{% url 'story5:index' %}" class="nav-item nav-link active" style="color: #454416">home</a>
                    <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" style="color:#454416">
                                about me
                            </a>
                            <div class="dropdown-menu text-right">
                                <a class="dropdown-item" href="#aboutme">about me</a>
                                <a class="dropdown-item" href="#hobbies">hobbies</a>
                            </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" style="color:#454416">
                            resume
                        </a>
                        <div class="dropdown-menu text-right">
                            <a class="dropdown-item" href="{% url 'story5:resume' %}">education</a>
                            <a class="dropdown-item" href="{% url 'story5:resume' %}">experience</a>
                            <a class="dropdown-item" href="{% url 'story5:resume' %}">skill</a>
                        </div>
                    </div>
                    <a href="{% url 'story5:gallery' %}" class="nav-item nav-link" style="color: #454416">gallery</a>
                    <a href="{% url 'story5:listschedule' %}" class="nav-item nav-link" style="color: #454416">schedule</a>
                    <a href="{% url 'story5:contact' %}" class="nav-item nav-link" style="color: #454416">contact</a>
                </div>
            </div>
        </div>    
    </nav>

        <div class="about-me-page">
            <div id="aboutme">
                <div class="row" style="width: auto; height: auto">
                    <div class="col-sm-12 col-md-10 col-lg-10 col-xl-6">
                        <div class="about-me" style="margin-top: 20%">
                            <h1>about me</h1>
                            
                            <p>Inez Amandha (18) is a Computer Science Undergraduate Student at Faculty of Computer Science, Universitas Indonesia.
                                <br><br>
                                Inez loves to travel and go to the aesthetic places. While travelling, she will take some photos (food & places) and share her reviews on social media.
                                <br><br>
                                Currently, she is still learning how to make a website.
                                <br><br>
                                💻 And this is her first-ever website! 💻</p>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-10 col-lg-10 col-xl-6">
                        <ul class="short-info-box">
                            <li>
                                    <h1>my short info</h1>
                                </li>
                                <li>
                                    <label>Name</label>
                                    <span>Inez Amandha Suci</span>
                                </li>
                                <li>
                                    <label>Age</label>
                                    <span>18</span>
                                </li>
                                <li>
                                    <label>Birthdate</label>
                                    <span>December 21, 2000</span>
                                </li>
                                <li>
                                    <label>Address</label>
                                    <span>Depok, West Java, Indonesia</span>
                                </li>
                                <li>
                                    <label>Education</label>
                                    <span>University of Indonesia</span>
                                </li>
                                <li>
                                    <label>Major</label>
                                    <span>Computer Science (Class of 2018)</span>
                                </li>
                        </ul>
                    </div>
                </div>
            </div>


            <div id="hobbies">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <h1 style="margin-left: 7.5%; margin-top: 5%">hobbies</h1>
                        <div id="kotak">
                            <div id="contentBox" style="margin: 0px auto; width:90%; height: auto">
                                <div class="row">
                                    <div class="col-sm-3 col-md-2 col-lg-2 col-xl-2" style="margin: 0px 10px">
                                        <p style="font-family: Poppins-Light; font-size: 14px; color: black">✦ Travelling ✦</p>
                                    </div>

                                    <div class="col-sm-3 col-md-2 col-lg-2 col-xl-2" style="margin: 0px 10px">
                                        <a href="https://www.instagram.com/thefoodsthetic/" target="_blank" style="font-family: Poppins-Light; font-size: 14px">✦ Food & Travel Photography ✦</a>
                                    </div>

                                    <div class="col-sm-3 col-md-2 col-lg-2 col-xl-2" style="margin: 0px 10px">
                                        <p style="font-family: Poppins-Light; font-size: 14px; color: black;">✦ Writing ✦</p>
                                    </div>

                                    <div class="col-sm-3 col-md-2 col-lg-2 col-xl-2" style="margin: 0px 10px">
                                        <p style="font-family: Poppins-Light; font-size: 14px; color: black;">✦ Watching Movies & TV Series ✦</p>
                                    </div>

                                    <div class="col-sm-3 col-md-2 col-lg-2 col-xl-2" style="margin: 0px 10px">
                                        <p style="font-family: Poppins-Light; font-size: 14px; color: black;">✦ Swimming ✦</p>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <footer class="page-footer font-small blue">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3"
        style="background-color: #B0766B;
        font-family: Poppins-Light;
        font-size: 10px;
        color: white">Copyright © 2019. All Rights Reserved by Inez Amandha
        </div>
        <!-- Copyright -->
      
        </footer>
    </body>