<!DOCTYPE html>
<html>
    {% load static %}
    <head>
        <title>Welcome!</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/bootstrap/css/bootstrap.min.css' %}">
        <script src="stylesheet" href="{% static 'css/bootstrap/js/bootstrap.min.js' %}"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <link rel="stylesheet" type="text/css" href="{% static 'css/mystyle.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>
        <nav class="navbar navbar-expand-md navbar-light fixed-top justifiy-content-end"
        style="background: rgba(240, 227, 219, 0.65);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-family: Averia Regular;
        font-size: 22px;">
        <div class="container-fluid">
            <button type="button" class="navbar-toggler navbar-nav ml-auto" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-right" id="navbarCollapse">
                <div class="navbar-nav ml-auto">
                    <a href="{% url 'story5:index' %}" class="nav-item nav-link active" style="color: #454416">home</a>
                    <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" style="color:#454416">
                                about me
                            </a>
                            <div class="dropdown-menu text-right">
                                <a class="dropdown-item" href="{% url 'story5:aboutme' %}">about me</a>
                                <a class="dropdown-item" href="{% url 'story5:aboutme' %}">hobbies</a>
                            </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" style="color:#454416">
                            resume
                        </a>
                        <div class="dropdown-menu text-right">
                            <a class="dropdown-item" href="{% url 'story5:resume' %}">education</a>
                            <a class="dropdown-item" href="{% url 'story5:resume' %}">experience</a>
                            <a class="dropdown-item" href="{% url 'story5:resume' %}">skill</a>
                        </div>
                    </div>
                    <a href="{% url 'story5:gallery' %}" class="nav-item nav-link" style="color: #454416">gallery</a>
                    <a href="{% url 'story5:listschedule' %}" class="nav-item nav-link" style="color: #454416">schedule</a>
                    <a href="{% url 'story5:contact' %}" class="nav-item nav-link" style="color: #454416">contact</a>
                </div>
            </div>
        </div>    
        </nav>
        {% block content %}
        {% endblock content %}
    </body>
</html>
