<html lang="en" style="background-color: #EDDCD2">
{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="contact-page">
    <div id="contact">
        <h1>contact</h1>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <p>
                Hey, there! Let's connect!
                <br>
                Send me a note and tell me about yourself ❤
                </p>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-10 col-md-7 col-lg-6 col-xl-6">
                    <div class="email"
                    style="background-color: #B0766B; border-radius: 25px;
                    padding: 2.5%; margin-left: 7.5%; margin-right: 7.5%; margin-top: 2.5%; margin-bottom: 2.5%">
                        <h3><strong>E-mail:</strong></h3>
                        <h3>inezamandhasuci@gmail.com</h3>
                    </div>
                </div>

                <div class="col-sm-10 col-md-5 col-lg-6 col-xl-6">
                    <h2 style="margin: 5%">I love to connect with you</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                <div class="logo-circle" style="background-color: #E2C7B2">
                    <a href="https://www.instagram.com/inezamandha/">
                        <img src="{% static 'images/photo/logo-instagram.png' %}" style="width: 55px; height: 55px; margin-top: 12.5%;">
                    </a>
                </div>
                <a href="https://www.instagram.com/inezamandha/" style="color: black;">
                    <h4 style=" display: inline-block;">Instagram</h4>
                </a>
            </div>

            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                <div class="logo-circle" style="background-color: #E7B7A0">
                    <a href="https://twitter.com/inezamandha">
                        <img src="{% static 'images/photo/logo-twitter.png' %}" style="width: 55px; height: 55px; margin-top: 12.5%;">
                    </a>
                </div>
                <a href="https://twitter.com/inezamandha" style="color: black;">
                    <h4 style=" display: inline-block;">Twitter</h4>
                </a>
            </div>
                
            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                <div class="logo-circle" style="background-color: #CE957A">
                    <a href="https://id.pinterest.com/inezamandha/">
                        <img src="{% static 'images/photo/logo-pinterest.png' %}" style="width: 55px; height: 55px; margin-top: 12.5%;">
                    </a>
                </div>
                <a href="https://id.pinterest.com/inezamandha/" style="color: black;">
                    <h4 style=" display: inline-block;">Pinterest</h4>
                </a>
            </div>
        </div>
    </div>

<!-- Footer -->
<footer class="page-footer font-small blue">

<!-- Copyright -->
<div class="footer-copyright text-center py-3"
style="background-color: #B0766B;
font-family: Poppins-Light;
font-size: 10px;
color: white">Copyright © 2019. All Rights Reserved by Inez Amandha
</div>
<!-- Copyright -->

</footer>
{% endblock %}
</html>