<html lang="en" style="background-color: #EDDCD2">
{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="gallery-page">
      <h1>gallery</h1>
      
      <div class="row">
          <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4"
          style="background-color:#E7B7A0; border-radius: 15px; padding: 15px;
          margin-left: 7.5%;
          margin-right: 7.5%;
          margin-bottom: 2.5%">
            <h2 style="font-family: Shorelines Script; margin-left: 25px; margin-top: 5px; font-size: 28px; display: inline-block;">food</h2>
            <a href="https://www.instagram.com/thefoodsthetic/" target="_blank" style="font-family: Poppins-SemiBold; top: -7px; margin-left: 25px; font-size: 16px; display: inline-block; position: relative;">(@thefoodsthetic)</a>
              <div id="carousel-1" class="carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators">
                    <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-1" data-slide-to="1"></li>
                    <li data-target="#carousel-1" data-slide-to="2"></li>
                    <li data-target="#carousel-1" data-slide-to="3"></li>
                    <li data-target="#carousel-1" data-slide-to="4"></li>
                  </ol>
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img class="d-block w-100" src="{% static 'images/gallery/food/kuma.jpg' %}" alt="Kuma Cheese Toast">
                          <div class="carousel-caption d-none d-md-block">
                            <h5 style="font-family: Poppins-SemiBold">Kuma</h5>
                            <p style="font-family: Poppins-Light">Rainbow Cheese Toast</p>
                          </div>
                    </div>
                    <div class="carousel-item">
                      <img class="d-block w-100" src="{% static 'images/gallery/food/boba_croissant.jpeg' %}" alt="Boba Croissant">
                          <div class="carousel-caption d-none d-md-block">
                              <h5 style="font-family: Poppins-SemiBold">Social Affair</h5>
                              <p style="font-family: Poppins-Light">Boba Croissant</p>
                          </div>
                    </div>
                    <div class="carousel-item">
                      <img class="d-block w-100" src="{% static 'images/gallery/food/alphabeth.jpeg' %}" alt="Alphabeth">
                      <div class="carousel-caption d-none d-md-block">
                          <h5 style="font-family: Poppins-SemiBold">Alphabeth</h5>
                          <p style="font-family: Poppins-Light">Flamingo Gelato (left)
                              <br>
                              Unicorn Drink - Kiwi (right)</p>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <img class="d-block w-100" src="{% static 'images/gallery/food/master_squid.jpg' %}" alt="Master Squid">
                          <div class="carousel-caption d-none d-md-block">
                              <h5 style="font-family: Poppins-SemiBold">Master Squid</h5>
                              <p style="font-family: Poppins-Light">Giant Squid, BBQ Flavour</p>
                          </div>
                    </div>
                    <div class="carousel-item">
                      <img class="d-block w-100" src="{% static 'images/gallery/food/kynd.jpeg' %}" alt="Kynd Community">
                          <div class="carousel-caption d-none d-md-block">
                              <h5 style="font-family: Poppins-SemiBold">Kynd Community</h5>
                              <p style="font-family: Poppins-Light"></p>
                          </div>
                    </div>
                  </div>
                  <a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carousel-1" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
          </div>

          <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4"
          style="background-color: #CE957A; border-radius: 15px; padding: 15px;
          margin-left: 7.5%;
          margin-right: 7.5%;
          margin-bottom: 2.5%">
              <h2 style="font-family: Shorelines Script; margin-left: 25px; margin-top: 5px; font-size: 28px;">Travel</h2>
              <div id="carousel-2" class="carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators">
                    <li data-target="#carousel-2" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-2" data-slide-to="1"></li>
                    <li data-target="#carousel-2" data-slide-to="2"></li>
                    <li data-target="#carousel-2" data-slide-to="3"></li>
                    <li data-target="#carousel-2" data-slide-to="4"></li>
                  </ol>
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img class="d-block w-100" src="{% static 'images/gallery/travel/seminyak beach.jpeg' %}" alt="Seminyak Beach">
                          <div class="carousel-caption d-none d-md-block">
                              <h5 style="font-family: Poppins-SemiBold">Seminyak Beach</h5>
                          </div>
                    </div>
                    <div class="carousel-item">
                      <img class="d-block w-100" src="{% static 'images/gallery/travel/la plancha.jpeg' %}" alt="La Plancha">
                          <div class="carousel-caption d-none d-md-block">
                              <h5 style="font-family: Poppins-SemiBold">La Plancha</h5>
                          </div>
                    </div>
                    <div class="carousel-item">
                      <img class="d-block w-100" src="{% static 'images/gallery/travel/fish.jpeg' %}" alt="Fish">
                      <div class="carousel-caption d-none d-md-block">
                          <h5 style="font-family: Poppins-SemiBold">Fish in Tirta Gangga</h5>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <img class="d-block w-100" src="{% static 'images/gallery/travel/tegenungan waterfall.jpg' %}" alt="Tegenungan Waterfall">
                          <div class="carousel-caption d-none d-md-block">
                              <h5 style="font-family: Poppins-SemiBold">Tegenungan Waterfall</h5>
                          </div>
                    </div>
                    <div class="carousel-item">
                      <img class="d-block w-100" src="{% static 'images/gallery/travel/beach.jpg' %}" alt="Beach + Blue Sky">
                          <div class="carousel-caption d-none d-md-block"></div>
                    </div>
                  </div>
                  <a class="carousel-control-prev" href="#carousel-2" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carousel-2" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
          </div>
      </div>
  </div>
</div>

<!-- Footer -->
<footer class="page-footer font-small blue">

<!-- Copyright -->
<div class="footer-copyright text-center py-3"
style="background-color: #B0766B;
font-family: Poppins-Light;
font-size: 10px;
color: white">Copyright © 2019. All Rights Reserved by Inez Amandha
</div>
<!-- Copyright -->

</footer>
{% endblock %}
</html>