{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="home">
    <div class="homepage">
        <div class="row" style="width: 100%; height: auto">
            <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1" style="margin-top: 40vh">
                <div class="circle-logo" style="background: #E2C7B2; margin-bottom: 10px">
                    <a href="https://www.instagram.com/inezamandha/">
                        <img src="{% static 'images/photo/logo-instagram.png' %}">
                    </a>
                </div>
            
                <div class="circle-logo" style="background: #E7B7A0; margin-bottom: 10px">
                    <a href="https://twitter.com/inezamandha">
                        <img src="{% static 'images/photo/logo-twitter.png' %}">
                    </a>
                </div>

                <div class="circle-logo" style="background: #CE957A">
                    <a href="https://id.pinterest.com/inezamandha/">
                        <img src="{% static 'images/photo/logo-pinterest.png' %}">
                    </a>
                </div>
            </div>
            
            <div class="col-4 col-sm-8 col-md-7 col-lg-7 col-xl-6">
                <img id="profile-photo" src="{% static 'images/photo/profile-photo.jpg' %}" style="margin-bottom: 10vh; margin-right: 25%">
            </div>

            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-5">
                <div class="homepage-text">
                    <h1>hello, i'm inez!</h1>
                    <h2>❀ welcome to my first website ❀</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="page-footer font-small blue">

<!-- Copyright -->
<div class="footer-copyright text-center py-3"
style="background-color: #B0766B;
font-family: Poppins-Light;
font-size: 10px;
color: white">Copyright © 2019. All Rights Reserved by Inez Amandha
</div>
<!-- Copyright -->

</footer>
{% endblock %}