<!DOCTYPE html>
{% load static %}
<html lang="en" style="background-color: #CB9A7C">
    <head>
        <title>Welcome!</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/bootstrap/css/bootstrap.min.css' %}">
        <script src="stylesheet" href="{% static 'css/bootstrap/js/bootstrap.min.js' %}"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <link rel="stylesheet" type="text/css" href="{% static 'css/mystyle.css' %}">
    </head>

    <body>
        <nav class="navbar navbar-expand-md navbar-light fixed-top justifiy-content-end"
            style="background: rgba(240, 227, 219, 0.65);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            font-family: Averia Regular;
            font-size: 22px;">
            <div class="container-fluid">
                <button type="button" class="navbar-toggler navbar-nav ml-auto" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse text-right" id="navbarCollapse">
                    <div class="navbar-nav ml-auto">
                        <a href="{% url 'story5:index' %}" class="nav-item nav-link active" style="color: #454416">home</a>
                        <div class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" style="color:#454416">
                                    about me
                                </a>
                                <div class="dropdown-menu text-right">
                                    <a class="dropdown-item" href="{% url 'story5:aboutme' %}">about me</a>
                                    <a class="dropdown-item" href="{% url 'story5:aboutme' %}">hobbies</a>
                                </div>
                        </div>
                        <div class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" style="color:#454416">
                                resume
                            </a>
                            <div class="dropdown-menu text-right">
                                <a class="dropdown-item" href="#education">education</a>
                                <a class="dropdown-item" href="#experience">experience</a>
                                <a class="dropdown-item" href="#skill">skill</a>
                            </div>
                        </div>
                        <a href="{% url 'story5:gallery' %}" class="nav-item nav-link" style="color: #454416">gallery</a>
                        <a href="{% url 'story5:listschedule' %}" class="nav-item nav-link" style="color: #454416">schedule</a>
                        <a href="{% url 'story5:contact' %}" class="nav-item nav-link" style="color: #454416">contact</a>
                    </div>
                </div>
            </div>    
        </nav>

        <div id="resume">
            <div class="resume-page">
                <h1>resume</h1>
                <div class="row" style="width: 100%; height: auto">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" style="margin-top: 20em">
                        <div id="education">
                            <img src="{% static 'images/photo/logo-education.png' %}">
                            <h1>education</h1>
                            <div class="main-timeline" style="margin-top: 5%">
                                <div class="timeline">
                                    <div class="timeline-icon"></div>
                                    <div class="timeline-content">
                                        <span class="date">2018 - now</span>
                                        <h4 class="title">University of Indonesia</h4>
                                        <p class="description">
                                            Faculty of Computer Science
                                            <br>
                                            Major in Computer Science
                                        </p>
                                    </div>
                                </div>
                        
                                <div class="timeline">
                                    <div class="timeline-icon"></div>
                                    <div class="timeline-content right">
                                        <span class="date">2015 - 2018</span>
                                        <h4 class="title">SMAN 34 Jakarta</h4>
                                        <p class="description">
                                            Major in Natural Science
                                        </p>
                                    </div>
                                </div>
                                
                                <div class="timeline">
                                    <div class="timeline-icon"></div>
                                    <div class="timeline-content">
                                        <span class="date">2012 - 2015</span>
                                        <h4 class="title">SMPN 85 Jakarta</h4>
                                    </div>
                                </div>
                                
                                <div class="timeline">
                                    <div class="timeline-icon"></div>
                                    <div class="timeline-content right">
                                        <span class="date">2009 - 2012</span>
                                        <h4 class="title">SDN Pondok Labu 11 Pagi</h4>
                                    </div>
                                </div>
            
                                <div class="timeline">
                                    <div class="timeline-icon"></div>
                                    <div class="timeline-content">
                                        <span class="date">2006 - 2009</span>
                                        <h4 class="title">SDN Pondok Labu 05 Pagi</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" style="margin-top: 20em">
                        <div id="experience">
                            <img src="{% static 'images/photo/logo-experience.png' %}">
                            <h1>experience</h1>
            
                            <div class="main-timeline" style="margin-top: 5%">
                                <div class="timeline">
                                    <div class="timeline-icon"></div>
                                    <div class="timeline-content">
                                        <span class="date">2019 - now</span>
                                        <h4 class="title">BEM Fasilkom UI 2019</h4>
                                        <p class="description">
                                            Staff of Science Department
                                        </p>
                                    </div>
                                </div>
                                
                                <div class="timeline">
                                    <div class="timeline-icon"></div>
                                    <div class="timeline-content right">
                                        <span class="date">2019 - now</span>
                                        <h4 class="title">COMPFEST 11</h4>
                                        <p class="description">
                                            Staff of Startup Academy
                                        </p>
                                    </div>
                                </div>
                                
                                <div class="timeline">
                                    <div class="timeline-icon"></div>
                                    <div class="timeline-content">
                                        <span class="date">2019</span>
                                        <h4 class="title">Wisuda Fasilkom UI</h4>
                                        <p class="main-description">
                                            Genap
                                        </p>
                                        <p class="description">
                                            Head of Food and Beverages
                                        </p>
                                        <p class="main-description">
                                            Ganjil
                                        </p>
                                        <p class="description">
                                            Staff of Food and Beverages
                                        </p>
                                    </div>
                                </div>
                                
                                <div class="timeline">
                                    <div class="timeline-icon"></div>
                                    <div class="timeline-content right">
                                        <span class="date">2019</span>
                                        <h4 class="title">BETIS 2019</h4>
                                        <p class="description">
                                            Staff of Fundraising & Food and Beverages
                                        </p>
                                    </div>
                                </div>
            
                                <div class="timeline">
                                    <div class="timeline-icon"></div>
                                    <div class="timeline-content">
                                        <span class="date">2018</span>
                                        <h4 class="title">Social Project 2018</h4>
                                        <p class="description">
                                            Staff of Fundraising & Food and Beverages
                                        </p>
                                    </div>
                                </div>
            
                                <div class="timeline">
                                    <div class="timeline-icon"></div>
                                    <div class="timeline-content right">
                                        <span class="date">2016 - 2017</span>
                                        <h4 class="title">High School Celebration</h4>
                                        <p class="description">
                                            Staff of Sponsorship
                                        </p>
                                    </div>
                                </div>
            
                                <div class="timeline">
                                    <div class="timeline-icon"></div>
                                    <div class="timeline-content">
                                        <span class="date">2015 - 2017</span>
                                        <h4 class="title">MPK SMAN 34 Jakarta</h4>
                                        <p class="main-description">
                                            2016 - 2017
                                        </p>
                                        <p class="description">
                                            Staff of Komisi F (Kualitas Jasmani, Kesehatan, dan Gizi)
                                        </p>
                                        <p class="main-description">
                                            2015 - 2016
                                        </p>
                                        <p class="description">
                                            Vice Head of Public Relations
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" style="margin-top: 20em">
                        <div id="skill">
                            <img src="{% static 'images/photo/logo-skill.jpg' %}">
                            <h1>skill</h1>
            
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                    <div class="skill-1">
                                        <p>Adobe Photoshop</p>
                                        <div class="progress" style="width: 350px;">
                                            <div class="progress-bar" role="progressbar" style="width: 80%; background-color: #B0766B;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                    
                                        <br>
                    
                                        <p>Python</p>
                                        <div class="progress" style="width: 350px;">
                                            <div class="progress-bar" role="progressbar" style="width: 70%; background-color: #B0766B;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                    
                                        <br>
                    
                                        <p>Java</p>
                                        <div class="progress" style="width: 350px;">
                                            <div class="progress-bar" role="progressbar" style="width: 70%; background-color: #B0766B;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                    
                                        <br>
                    
                                        <p>HTML</p>
                                        <div class="progress" style="width: 350px;">
                                            <div class="progress-bar" role="progressbar" style="width: 50%; background-color: #B0766B;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                    
                                        <br>
                    
                                        <p>CSS</p>
                                        <div class="progress" style="width: 350px;">
                                            <div class="progress-bar" role="progressbar" style="width: 50%; background-color: #B0766B;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                    
                                        <br>
                    
                                        <p>Microsoft Office</p>
                                        <div class="progress" style="width: 350px;">
                                            <div class="progress-bar" role="progressbar" style="width: 100%; background-color: #B0766B;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                    <div class="skill-2">
                                        <p>- Time Management</p>
                                        <p>- Hardworking</p>
                                        <p>- Organized</p>
                                        <p>- Good Communication</p>
                                        <p>- Writing</p>
                                        <p>- Creative</p>
                                        <p>- Teamwork</p>
                                        <p>- Event Organization</p>
                                        <p>- Photography</p>
                                        <p>- Digital Marketing</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <footer class="page-footer font-small blue">

            <!-- Copyright -->
            <div class="footer-copyright text-center py-3"
            style="background-color: #B0766B;
            font-family: Poppins-Light;
            font-size: 10px;
            color: white">Copyright © 2019. All Rights Reserved by Inez Amandha
            </div>
            <!-- Copyright -->
            
            </footer>

    </body>