<html lang="en" style="background-color: #CB9A7C">
{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="list-schedule">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
        <h1>Schedule List</h1>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2" style="margin-top: 6%; margin-bottom: 2.5%">
        <a href="{% url 'story5:newevent' %}">
            <button type="submit" class="btn btn-light" style="background-color: #F7EEE5; font-family: Poppins-SemiBold; font-size: 18px; margin-bottom: 2.5%; margin-left: 7.5%">New Event</button>
        </a>
        <form method="POST" action="{% url 'story5:deleteall' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-icon btn-danger" style="font-family: Poppins-SemiBold; font-size: 18px; margin-left: 7.5%">Delete All</button>
        </form>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="row" style="margin-left: 5%; margin-right: 5%">
          {% for list in data %}
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-3 col-xl-3" style="background-color: #FFF1E6; border-radius: 15px; padding: 15px; margin: 2.5%; box-shadow: 10px 10px 5px grey;">
            
            <h5 style="font-family: Poppins-SemiBold">{{list.name}}</h5>
            <p style="font-family: Poppins-Light"><i class="fa fa-calendar"></i> {{list.date}} | {{list.time}}</p>
            <p style="font-family: Poppins-Light"><i class="fa fa-map-marker"></i> {{list.location}}</p>
            <p style="font-family: Poppins-Light"><i class="fa fa-th-list"></i> {{list.category}}</p>
            <i class="fa fa-pencil"></i>
            <p style="font-family: Poppins-Light">{{list.description}}</p>

            <a href="{% url 'story5:edit' pk=list.pk %}"><button class="btn btn-icon btn-info" style="background-color: #CE957A">Edit</button></a>
            <a href="{% url 'story5:delete' pk=list.pk %}"><button type="button" class="btn btn-icon btn-danger" style="margin-left: 2.5%">Delete</button></a>
            
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<!-- Copyright -->
<div class="footer-copyright text-center py-3"
style="background-color: #B0766B;
font-family: Poppins-Light;
font-size: 10px;
color: white">Copyright © 2019. All Rights Reserved by Inez Amandha
</div>
<!-- Copyright --> 

{% endblock %}
</html>
