<html lang="en" style="background-color: #CB9A7C">
{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="schedule-page">
      <h1 style="width: 50%; margin-top: 0.75em; margin-left: auto; margin-right: auto">Schedule</h1>
      <form style="width: 50%; margin: 0 auto" method="post" action="{% url 'story5:newevent' %}">
        {% csrf_token %}
        <div class="form-group">
            {{form.name.label_tag}}
            {{form.name}}
          </div>
          <div class="form-group">
            {{form.description.label_tag}}
            {{form.description}}
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              {{form.date.label_tag}}
              {{form.date}}
            </div>
            <div class="form-group col-md-6">
              {{form.time.label_tag}}
              {{form.time}}
            </div>
          </div>
          <div class="form-group">
              {{form.location.label_tag}}
              {{form.location}}
            </div>
          <div class="form-group">
              {{form.category.label_tag}}
              {{form.category}}
          </div>

          <button type="submit" class="btn btn-light" style="background-color: #F7EEE5; margin: 2.5% auto; float: left" onclick=history.back()>Back</button>
          <button type="submit" class="btn btn-light" style="background-color: #F7EEE5; margin: 2.5% auto; float: right">Add</button>            
      
        </form>
  </div>    
{% endblock %}
</html>


