* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Shorelines Script;
    src: url('/static/font/Shorelines_Script_Bold.otf');
}
@font-face {
    font-family: Poppins-Light;
    src: url('/static/font/Poppins-Light.ttf');
}
@font-face {
    font-family: Poppins-SemiBold;
    src: url('/static/font/Poppins-SemiBold.ttf');
}
@font-face {
    font-family: Welcome;
    src: url('/static/font/Welcome.ttf');
}
@font-face {
    font-family: Averia Light;
    src: url('/static/font/Averia-Light.ttf');
}
@font-face {
    font-family: Averia Bold;
    src: url('/static/font/Averia-Bold.ttf');
}
@font-face {
    font-family: Averia Regular;
    src: url('/static/font/Averia-Regular.ttf');
}

html {
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}

ul {
    list-style-type: none;
}

.homepage{
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-position:center;
    background-image: url('/static/images/photo/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
}

.homepage-text h1{
    font-family: Shorelines Script;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #F0EFEB;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.homepage-text h2{
    font-family: Poppins-SemiBold;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFF1E6;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#profile-photo {
    border-radius: 50%;
    border: 15px solid #A5A58D;
}

.circle-logo {
    width: 50px;
    height: 50px;

    border-radius: 50%;
}

.circle-logo img {
    width: 35px;
    height: 35px;

    margin-left: 8px;
    margin-top: 8px;
}

.about-me-page {
    background-color: #EDDCD2;
    width: 100%;
    height: auto;
}

.about-me-page h1 {
    font-family: Welcome;
    font-style: normal;
    font-weight: normal;
    font-size: 100px;

    display: flex;
    align-items: center;
    text-align: center;

    margin-left: 15%;
    margin-right: 25%;

    color: #454416;
}

.about-me-page p {
    font-family: Poppins-Light;
    font-style: normal;
    font-size: 18px;

    display: flex;
    align-items: center;

    margin-left: 15%;
    margin-right: 15%;

    color: #000000;
}

.short-info-box {
    width: 75%;
    height: auto;

    background: #E2C7B2;

    border-radius: 100px;
    
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20%;

    padding-right: 2.5%;
    padding-left: 2.5%;
    padding-bottom: 5%;
}

.short-info-box h1 {
    font-family: Shorelines Script;
    font-size: 36px;
    text-decoration: underline;
    color: #464318;
}

.short-info-box li {
    margin-top: 7.5%;
    margin-left: 10%;
    line-height: 1.25;
    color: #464318;
    font-family: Poppins-SemiBold;
    font-size: 14px;
}

.short-info-box li span{
    display: block;
    margin-top: -25px;
    margin-left: 175px;
    color: black;
    font-family: Poppins-Light;
}

#kotak {
    margin-left: 50%;
   
    transform: translate(-50%, -50%);

    width: 90%;
    height: auto;
    padding: 5%;  

    background: #CB9A7C;;
    color: white;
    text-align: center;

    border-radius: 25px;
}

@media screen and (min-width: 1201px) {
    #kotak {
      margin-top: 10%;
    }

    .homepage-text{
        margin-top: 50vh;
        margin-left: 5%;
        margin-right: 5%;
    }

    #profile-photo{
        margin-top: 30vh;
        margin-left: 25%;
        width: 400px;
        height: 400px;
    }

    #education{
        margin-left: 50%;
        margin-top: 12.5em;
        margin-bottom: 2.5%;
    }

    #experience{
        margin-left: 50%;
        margin-top: 5em;
        margin-bottom: 2.5%;
    }

    #skill{
        margin-top: -55em;
        margin-left: 50%;
    }
  }

@media screen and (max-width: 1200px) {
    #kotak {
      margin-top: 12.5%;
    }

    .homepage-text {
        margin-top: 40vh;
        margin-left: 5%;
        margin-right: 5%;
    }

    #profile-photo{
        margin-top: 30vh;
        margin-left: 20%;
        width: 350px;
        height: 350px;
    }
    /*
    .homepage-text{
        margin-top: 40vh;
        margin-left: 5%;
        margin-right: 5%;
    }

    #profile-photo{
        margin-bottom: 25vh;
    }
    */

    #education{
        margin-left: 50%;
        margin-top: 12.5em;
        margin-bottom: 2.5%;
    }

    #experience{
        margin-left: 50%;
        margin-top: 5em;
        margin-bottom: 2.5%;
    }

    #skill{
        margin-top: -55em;
        margin-left: 50%;
    }

  }

  @media screen and (max-width: 992px) {
    .homepage-text{
        margin-top: 40vh;
        margin-bottom: 5%;
    }

    #profile-photo{
        margin-top: 30vh;
        margin-left: 20%;
        margin-bottom: 25vh;
        width: 300px;
        height: 300px;
    }

    #education{
        margin-left: 50%;
        margin-top: 10em;
        margin-bottom: 2.5%;
    }

    #experience{
        margin-left: 50%;
        margin-top: 5em;
        margin-bottom: 2.5%;
    }

    #skill{
        margin-top: -37.5em;
        margin-left: 50%;
    }
  }

@media screen and (max-width: 767px) {
    #kotak {
      margin-top: 15%;
    }

    .homepage-text{
        margin-top: 5%;
        margin-left: 20vw;
    }

    #profile-photo{
        margin-top: 35vh;
        margin-left: 50%;
        margin-bottom: 25vh;
        width: 250px;
        height: 250px;
    }

    /*
    #profile-photo{
        margin-bottom: 10%;
    }
    */

    #education{
        margin-left: 50%;
        margin-top: 12.5em;
        margin-bottom: 2.5%;
    }

    #experience{
        margin-left: 50%;
        margin-top: 5em;
        margin-bottom: 2.5%;
    }

    #skill{
        margin-top: -37.5em;
        margin-left: 50%;
    }
  }
  
  @media screen and (max-width: 575px) {
    #kotak {
      margin-top: 2%;
    }

    .homepage-text{
        margin-top: 2.5%;
        margin-left: 15vw;
    }

    /*
    #profile-photo{
        margin-bottom: 10%;
    }
    */
    #education{
        margin-left: 50%;
        margin-top: 12.5em;
        margin-bottom: 2.5%;
    }

    #experience{
        margin-left: 50%;
        margin-top: 10em;
        margin-bottom: 2.5%;
    }

    #skill{
        margin-top: -40em;
        margin-left: 50%;
    }
  }

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}

.resume-page {
    background-color: #CB9A7C;
    width: 100%;
    height: auto;
}

.resume-page h1 {
    font-family: Welcome;
    font-style: normal;
    font-weight: normal;
    font-size: 100px;

    display: flex;
    align-items: center;
    text-align: center;

    margin-left: 10%;
    margin-top: 10%;

    color: #F7EEE5;
}

#education {
    margin-left: 50%;
    margin-bottom: 2.5%;
    transform: translate(-50%, -50%);

    width: 80%; 
    height: auto;

    background: #F0E3DB;
    color: white;
    text-align: center;

    border-radius: 25px;
}

#education img {
    width: 100px;
    height: 100px;

    display: inline-block;
    margin-top: -5%;
}

#education h1{
    color: black;

    font-family: Shorelines Script;
    font-size: 50px;
    display: inline-block;

    margin-top: 5%;
}

/*
Template dari http://bestjquery.com/tutorial/timeline/demo2/
Kemudian di modifikasi lagi sesuai tema saya
*/
.main-timeline{
    position: relative;
    transition: all 0.4s ease 0s;
    margin-top: -60px;
}
.main-timeline:before{
    content: "";
    width: 3px;
    height: 100%;
    background: #DAAC9D;
    position: absolute;
    top: 0;
    left: 50%;
}
.main-timeline .timeline{
    position: relative;
}
.main-timeline .timeline:before,
.main-timeline .timeline:after{
    content: "";
    display: block;
    width: 100%;
    clear: both;
}
.main-timeline .timeline-icon{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #E2C7B2;
    border: 2px solid #DAAC9D;
    position: absolute;
    top: 0;
    left: 3px;
    right: 0;
    margin: 0 auto;
    overflow: hidden;
}
.main-timeline .timeline-content{
    width: 45%;
    padding: 20px;
    border-radius: 5px;
    text-align: right;
    -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
}
.main-timeline .date{
    display: inline-block;
    font-family: Poppins-SemiBold;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    padding: 12px 33px;
    background: #CB9A7C;
    border-radius: 30px;
}
.main-timeline .title{
    font-family: Poppins-SemiBold;
    font-size: 18px;
    font-weight: 500;
    color: #5c5151;
    margin-top: 30px;
}
.main-timeline .main-description {
    font-family: Poppins-SemiBold;
    font-size: 14px;
    color: #606060;
    line-height: 2;
}
.main-timeline .description{
    font-family: Poppins-Light;
    font-size: 14px;
    color: #606060;
    line-height: 2;
}
.main-timeline .timeline-content.right{
    float: right;
    text-align: left;
}
@media only screen and (max-width: 767px){
    .main-timeline:before{
        left: 0;
    }
    .main-timeline .timeline-icon{
        left: -8px;
        margin: 0;
    }
    .main-timeline .timeline-content{
        width: 90%;
        float: right;
    }
}

#experience {
    margin-left: 50%;
    margin-bottom: 2.5%;
    transform: translate(-50%, -50%);

    width: 80%; 
    height: auto;

    background: #F0E3DB;
    color: white;
    text-align: center;

    border-radius: 25px;
}

#experience img {
    width: 100px;
    height: 100px;

    display: inline-block;
    margin-top: -5%;
}

#experience h1 {
    color: black;

    font-family: Shorelines Script;
    font-size: 50px;
    display: inline-block;

    margin-top: 5%;
}

#skill {
    margin-left: 50%;
    transform: translate(-50%, -50%);

    width: 80%; 
    height: auto;

    background: #F0E3DB;
    color: white;
    text-align: center;

    border-radius: 25px;
}

#skill img {
    width: 100px;
    height: 100px;

    display: inline-block;
    margin-top: -5%;
}

#skill h1 {
    color: black;

    font-family: Shorelines Script;
    font-size: 50px;
    display: inline-block;

    margin-top: 5%;
}

.skill-1 {
    margin: 5%;
}

.skill-1 p {
    font-family: Poppins-SemiBold;
    color: black;
    text-align: left;
}

.skill-2 {
   margin-top: 10%;
}

.skill-2 p {
    font-family: Poppins-SemiBold;
    color: black;
    text-align: left;
    margin-left: 5%;
}

.gallery-page {
    background-color: #EDDCD2;
    width: 100%;
    height: auto;
}

.gallery-page h1 {
    font-family: Welcome;
    font-style: normal;
    font-weight: normal;
    font-size: 100px;

    display: flex;
    align-items: center;
    text-align: center;

    margin-left: 7.5%;
    margin-top: 0.75em;

    color: #454416;
}

.contact-page {
    background-color: #EDDCD2;
    width: 100%;
    height: auto;
}

.contact-page h1 {
    font-family: Welcome;
    font-style: normal;
    font-weight: normal;
    font-size: 100px;

    display: flex;
    align-items: center;
    text-align: center;

    margin-left: 7.5%;
    margin-top: 0.75em;

    color: #454416;
}

.contact-page p {
    font-family: Averia Light;
    font-size: 18px;

    margin-left: 7.5%;
    margin-right: 7.5%;
    margin-bottom: 2.5%;
}

.contact-page h2 {
    font-family: Averia Bold;
    font-size: 26px;

    margin-top: 2.5%;

    text-align: center;

    color: #454416;
}

.contact-page h3 {
    font-family: Poppins-Light;
    font-size: 16px;
    
    margin-left: 5%;

    color: white;
}

.contact-page h4 {
    font-family: Poppins-SemiBold;
    font-size: 20px;

    margin-right: 15%;
    margin-bottom: 5%;
}

.logo-circle {
    height: 75px;
    text-align: center;
    width: 75px;
    vertical-align: middle;
    border-radius: 50%;
    
    margin-top: 2.5%;
    margin-left: 20%;
    margin-right: 5%;
    margin-bottom: 5%;

    display: inline-block;
}

.schedule-page {
    background-color: #CB9A7C;
    width: 100%;
    height: auto;
}

.schedule-page h1 {
    font-family: Welcome;
    font-style: normal;
    font-weight: normal;
    font-size: 100px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #F7EEE5;
}

.schedule-page label {
    font-family: Poppins-SemiBold;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFF1E6;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.list-schedule {
    background-color: #CB9A7C;
    width: 100%;
    height: auto;
}

.list-schedule h1 {
    font-family: Welcome;
    font-style: normal;
    font-weight: normal;
    font-size: 100px;

    display: flex;
    align-items: center;
    text-align: center;

    margin-left: 7.5%;
    margin-top: 0.75em;

    color: #F7EEE5;
}